<link href="https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap" rel="stylesheet" />
<link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:wght,FILL@100..700,0..1&display=swap"
    rel="stylesheet" />
<link rel="stylesheet" href="public/styles/header.css">

<header class="main-header">
    <a href="/dashboard" class="logo-section" style="text-decoration: none; color: inherit;">
        <div class="logo-section">
            <h2 class="logo-text">bookmeup</h2>
        </div>
    </a>
    <nav class="main-nav">
        <ul class="nav-list">
            <?php 
                // Sprawdzamy aktualną ścieżkę, aby podświetlić aktywną ikonę
                $uri = $_SERVER['REQUEST_URI']; 
            ?>
            <li>
                <a href="/dashboard" class="nav-link <?= strpos($uri, '/dashboard') !== false ? 'active' : '' ?>">
                    <span class="material-symbols-outlined">pie_chart</span>
                    <span>Dashboard</span>
                </a>
            </li>
            <li>
                <a href="/calendar" class="nav-link <?= strpos($uri, 'calendar') !== false ? 'active' : '' ?>">
                    <span class="material-symbols-outlined">calendar_month</span>
                    <span>Calendar</span>
                </a>
            </li>
            <li>
                <a href="/appointments" class="nav-link <?= strpos($uri, 'appointments') !== false ? 'active' : '' ?>">
                    <span class="material-symbols-outlined">event_available</span>
                    <span>Wizyty</span>
                </a>
            </li>
            <li>
                <a href="/profile" class="nav-link <?= strpos($uri, '/profile') !== false ? 'active' : '' ?>">
                    <span class="material-symbols-outlined">account_circle</span>
                    <span>Profile</span>
                </a>
            </li>
        </ul>
    </nav>

    <div class="user-actions">
        <button class="btn-icon"><span class="material-symbols-outlined">notifications</span></button>
        <a href="/profile" class="nav-link <?= strpos($uri, '/profile') !== false ? 'active' : '' ?>">
            <div class="user-avatar"
                style="background-image: url('https://lh3.googleusercontent.com/aida-public/AB6AXuCoGJB7rlV_HRATbXVcgZTlM6mljVWpkXucFTQmjGhPn7o3EBWQe-BHqTiZn7c4aDolME1KWurPaHVYtCTGahKNW5OTerCLeITwKCI9d426kG2caSNXyuzg2poUGtw21Bx0fJ-vRUTcmgw0Q4u7bO94a3pofboYcnTopK8ipiny3UHv2jXW9jE2b1RinUW6aRMEDMoKOkHaCQDpKemljvt2GTDwZMFuKPmC8z_ln0YI1hjIuYViZfUuboY5jS9UPe2mIBjJtZQV6O8');">
            </div>
        </a>
    </div>
</header>